@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* XML Lang on blockquotes */
body [xml|lang]{
	font-style: italic;
}

/* Start Letters */
footer{
	margin-top: 1em;
	text-align: right;
}

#dedication > p:first-of-type + p,
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

#dedication > p:first-of-type,
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End Letters */

/* Verse, Poem, Song, Hymn */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
/* End Verse */

/* All Small Caps blockquote */
#chapter-2-8 blockquote:nth-of-type(1){
	font-style: normal;
	text-transform: uppercase;
}
